.hero{
    background-image: url(../images/hero-center.png);
    background-size: auto 40rem;
    background-repeat: no-repeat;
    background-position:bottom center ;
    background-color: var(--hero-background);
}

.hero .box{
    padding: 4rem 2rem 28rem 2rem;
    max-width: 60rem;
}

.hero h1{
    font-family: Grandstander, sans-serif;
    font-weight: bold;
    letter-spacing: -0.1rem;
    font-size: 5rem;
    line-height: 6rem;
}